<mat-dialog-content>
  <canvas #canvas  id = "draw" width = "" height = "" style="border:2px solid #000000; padding: 0; margin: auto; display: block;"></canvas>
</mat-dialog-content>    
<mat-dialog-actions >
  <div class = "container">
    <div class="row">
      <div class="col-md-2" style="padding-left: 1%; font-weight: bold;" >
        <p>報名序號：{{data.id}}</p>
      </div>
      <div class="col-md-3" style="padding-left: 1%; font-weight: bold;" >
        <p>姓名：{{data.name}}</p>
      </div>
      <div class="col-md-4" style="padding-left: 1%; font-weight: bold;" >
        <p>ID：{{data.student_personal_data.resident_id}}</p>
      </div>
      <div class="col-md-2" style="padding-left: 1%; font-weight: bold;" >
          <p>僑生編號：{{data.student_misc_data.overseas_student_id}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10" style="padding-left: 1%; font-weight: bold;" >
        <p>錄取學校科系：{{data.student_misc_data.department_data.school.title}} - {{data.student_misc_data.department_data.title}}</p>    
      </div>
      <div class="col-md-2" style="padding-left: 1%;" >
        <button type="button" class="btn btn-info" (click)="clearCanvas()" >清除</button>
        <button type="button" class="btn btn-success" (click)="saveCanvas()" >簽收</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
<!-- <a #link id = 'link' style = "display: none">link</a> -->
